<main id="root"></main>

<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.plaidPublicKey = "<%= @plaid_public_key.html_safe %>";
  window.plaidEnv = "<%= @plaid_env.html_safe %>";

  window.images = {
    logo: "<%= image_path("logo.svg") %>",
    lightbulb: "<%= image_path("lightbulb.svg") %>",
    megaphone: "<%= image_path("megaphone.svg") %>",
    flower: "<%= image_path("flower.svg") %>",
    rocket: "<%= image_path("rocket.svg") %>",
    stars: "<%= image_path("stars.svg") %>",
    computer: "<%= image_path("computer.svg") %>"
  };
</script>
