.data-card {
  width: 265px;
  height: 150px;
  background-color: #011552;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--content {
    text-align: center;
    width: 210px;

    h2 {
      font-size: 14px;
    }

    figure {
      font-size: 32px;
      margin-top: 25px;
    }
  }
}
