.article {
  margin-top: 80px;
  font-family: 'Roboto', sans-serif;

  h2 {
    text-align: left;
    font-size: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 12px;
    margin-bottom: 48px;
  }
}
