.user-account-menu {
  color: white;
  font-size: 14px;
  text-align: right;

  span {
    padding-left: 8px;
  }

  &--account-text {
    cursor: pointer;
    position: relative;
  }

  &--menu {
    margin-top: 8px;
    width: 100%;
    position: absolute;

    &--menu-item {
      padding: 3px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }
}
