.splash-page {

  &__header {
    background: linear-gradient(295.57deg, rgb(28, 191, 201) 3.41%, rgb(31, 87, 219) 98.69%);
    clip-path: polygon(0 0,100% 0,100% 90%,0% 100%);
    display: flex;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 96px;

    h1, h2 {
      color: white;
      font-family: 'Roboto', sans-serif;
    }

    h1 {
      font-weight: 400;
    }

    h2 {
      font-weight: 100;
    }

    &__pane {

      &__top-row {
        display: flex;
        justify-content: space-between;
      }

      &__headline {
        margin-top: 48px;

        h2 {
          margin-top: 16px;
        }
      }

      &__button {
        margin-top: 64px;
      }
    }
  }
}
