.home {
  &__header-background {
    background-color: #245BD8;
    position: absolute;
    height: 400px;
    width: 100%;
    z-index: -1;
  }
}

.home-page-header {
  &__section {
    padding-top: 45px;
  }

  &__pane {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &--buttons {
      width: 285px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &--ask-advisor-button {
        font-size: 12px !important;
        font-weight: 600;
      }
    }
  }
}
