.modal {
  &--close-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    line-height: 0;
    padding: 0;
    font-size: 24px;
    background: black;
    color: white;
    border-radius: 22px;
    width: 32px;
    outline: none;
    cursor: pointer;
  }

  &--content {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    padding: 20px;
  }
}
