.button {
  border-radius: 48px;
  border-color: white;
  font-size: 16px;
  padding: 0 24px;
  height: 48px;
  font-weight: 400;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.125ch;
  text-transform: uppercase;
  cursor: pointer;

  &--clear {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
  }

  &--blue {
    background-color: #3e70e5;
  }

  &--yellow {
    background-color: #FECF40;
    border: none;
  }

  &--white-text {
    color: white;
  }

  &__content {
    display: flex;
    align-items: center;

    i {
      padding-right: 16px;
    }
  }
}
