.summary {

  &__pane {
    color: white;
    width: 100%;
    margin-top: 30px;

    p {
      margin-top: 30px;
      font-weight: 100;
      line-height: 24px;
    }

    &--content {
      width: 590px;
    }

    &--buttons {
      margin-top: 25px;

      &--student-loans {
        margin-left: 12px;
      }
    }

    &--data-cards {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      margin-top: 50px;

      &--data-card {
        margin-left: 20px;
      }
    }
  }
}
